*:where(:not(audio, canvas, dialog, iframe, img, input[type="checkbox"], input[type="range"], option, select, svg, video):not(svg *, symbol *)) {
	all: unset;
	display: revert;
	cursor: revert;
}

*,
*:before, 
*:after {
	box-sizing: border-box;
}

body {
	--background: #1E1E1E;
	--color: #D4D4D4;
	--color-prompt-program: #DCDCAA;
	--color-prompt-arg: #ce9178;
	--color-prompt-arg-modifier: #569cd6;
	--color-prompt-arg-number: #b5cea8;

	--padding: 8px;

	padding: var(--padding);
	background: var(--background);

	&.dragOver::after {
		--icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="%23D4D4D4"><path d="M200-120q-33 0-56.5-23.5T120-200v-400q0-33 23.5-56.5T200-680h160v80H200v400h560v-400H600v-80h160q33 0 56.5 23.5T840-600v400q0 33-23.5 56.5T760-120H200Zm280-200L320-480l56-56 64 63v-487h80v487l64-63 56 56-160 160Z"/></svg>');

		content: "";
		display: block;
		position: fixed;
		inset: 0;
		background: var(--icon) no-repeat center / 10em;
		backdrop-filter: blur(.2em);
	}
}

.Terminal {
	font-family: Menlo, Monaco, "Courier New", monospace;
	font-kerning: none;
	font-size: 13px;
	color: var(--color);
	width: 100%;
	height: 100%;
	line-height: 1em; /* fixes chinese characters */
	white-space: pre-wrap;
	word-break: break-all;

	> .log {
		> .stdout {
			> .prompt {
				> .program {
					color: var(--color-prompt-program);
				}

				> .arg {
					color: var(--color-prompt-arg);

					&.modifier {
						color: var(--color-prompt-arg-modifier);
					}

					&.number {
						color: var(--color-prompt-arg-number);
					}
				}
			}

			> iframe.embed {
				border: none;
				display: block;
				width: 360px;
				height: 250px;
			}
		}
	}

	> .prompt {
		.input {
			display: inline;
		}
	}
}